{% extends 'base.html.twig' %}

{% block title %}Showing data{% endblock %}

{% block body %}
    {% if success is defined %}
        <p>{{ success }}</p>
    {% endif %}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    <script>
        $(document).on("ready",function(){
            alert("ola mundo");
        })
    </script>
{% endblock %}